@model Source.Models.THIETBI

@{
    ViewBag.Title = "Index";
}

<main>
    <div class="container link">
        <p>Trang chủ > Chức năng > Điều chuyển thiết bị</p>
        <hr />
    </div>
    <section class="container" id="dieu-chuyen">
        <h1 class="title">ĐIỀU CHUYỂN THIẾT BỊ</h1>
        @if (ViewBag.ErrorMessage != null)
        {
            <p id="tb-sm">@ViewBag.ErrorMessage</p>
        }
        @using (Html.BeginForm("Index", "DieuChuyenThietBi", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-dieu-chuyen">
                <div class="dv-quan-ly">
                    <h4 class="sub-title">
                        Đơn vị quản lý
                    </h4>
                    <div class="form-group">
                        <label for="">ĐVQL:</label>
                        <input type="text" class="form-control" id="MADV_QL" name="MADV_QL" readonly />
                    </div>
                    <div class="form-group">
                        <label for="">Người QL:</label>
                        <input class="form-control"
                               id="MAND_QL"
                               name="MAND_QL"
                               aria-describedby="emailHelp"
                               placeholder="" 
                               readonly/>
                    </div>
                </div>
                <div class="thong-tin-tb-dieu-chuyen">
                    <h4 class="sub-title">
                        Thông tin thiết bị điều chuyển
                    </h4>
                    <div class="form-group">
                        <label for="">Mã thiết bị:</label>
                        @*@if (ViewBag.MATB_DC != null)
                        {
                            <input class="form-control" id="MATB" name="MATB" value=@ViewBag.MATB_DC readonly />
                        }
                        else
                        {
                            <select class="form-control" id="MATB" name="MATB" onchange="get_ThongTinTB()"></select>
                        }*@
                        <select class="form-control" id="MATB" name="MATB" onchange="get_THONG_TIN_TB();"></select>
                    </div>
                    @*<div class="form-group">
                        <label for="">Tên thiết bị:</label>
                        <input type="text" class="form-control" id="TENTB" name="TENTB" value="" readonly />                      
                    </div>*@
                    <div class="form-group">
                        <label for="">Người ĐC:</label>
                        <input class="form-control"
                               value="@Session["TEN_DANG_NHAP"]"
                               id="MAND_DIEU_CHUYEN"
                               name="MAND_DIEU_CHUYEN"
                               placeholder=""
                               readonly />
                    </div>
                    <div class="form-group">
                        <label for="">Số lượng:</label>
                        <input type="number" min="1" id="SO_LUONG" name="SO_LUONG" />
                    </div>
                    <div class="form-group">
                        <label for="">Ghi chú:</label>
                        <input class="form-control"
                               name="GHI_CHU"
                               aria-describedby="emailHelp"
                               placeholder="" />
                    </div>
                </div>                
                <div class="dv-tiep-nhan">
                    <h4 class="sub-title">
                        Đơn vị tiếp nhận
                    </h4>
                    <div class="form-group">
                        <label for="">ĐV nhận:</label>
                        <select class="form-control" id="MADV_NHAN" name="MADV_NHAN" onchange="FILL_ND();"></select>
                    </div>
                    <div class="form-group">
                        <label for="">Người nhận:</label>
                        <select class="form-control" id="MAND_NHAN" name="MAND_NHAN"></select>
                    </div>
                    <div class="form-group">
                        <label for="">Phương thức vận chuyển:</label>
                        <input type="text" id="VAN_CHUYEN" name="VAN_CHUYEN" />
                    </div>
                </div>
            </div>
            <div class="submit">
                @if (ViewBag.Them != null)
                {
                    <button class="luu" name="SAVE" value="save">LƯU</button>
                }
                <button class="reset" name="REFESH" value="refesh">LÀM MỚI</button>
            </div>
        }
    </section>

</main>

<script type="text/javascript" src="~/Scripts/main.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var mAND_DIEU_CHUYEN = $('#MAND_DIEU_CHUYEN').val();
        $.ajax({
            type: "GET",
            url: "/Script/get_DV_DIEU_CHUYEN",
            data: { mAND_DIEU_CHUYEN: mAND_DIEU_CHUYEN },
            success: function (data) {
                $('#MADV_QL').val(data.TEN_DON_VI);
                $.ajax({
                    type: "GET",
                    url: "/Script/get_MATB_DIEU_CHUYEN",
                    data: {mADV : data.MA_DON_VI},
                    success: function (data) {
                        var s = '<option disabled selected value>Xin chọn thiết bị</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].MATB + '">' + data[i].MATB + " -- " + data[i].TENTB + '</option>';
                        }
                        $("#MATB").html(s);
                    }
                });
            }
        });

        $.ajax({
            type: "GET",
            url: "/Script/get_DONVI",
            data: "{}",
            success: function (data) {
                var s = '<option disabled selected value>Xin chọn đơn vị</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i] + '">' + data[i] + '</option>';
                }
                $("#MADV_NHAN").html(s);
            }
        });
        //var maTB = $('#MATB').val();
        //$.ajax({
        //    type: "GET",
        //    url: "/Script/get_ThongTinTB",
        //    data: { maTB: maTB },
        //    success: function (data) {
        //        $("#MATB").val(data.MATB + " -- " + data.TENTB);
        //        $("#MADV_QL").val(data.TEN_DON_VI);
        //        $("#MAND_QL").val(data.TEN_ND);
        //    }
        //});
        //$.ajax({
        //    type: "GET",
        //    url: "/Script/get_MATB_DIEU_CHUYEN",
        //    data: "{}",
        //    success: function (data) {
        //        var s = '<option disabled selected value>Xin chọn thiết bị</option>';
        //        for (var i = 0; i < data.length; i++) {
        //            s += '<option value="' + data[i].MATB + '">' + data[i].MATB + " -- " + data[i].TENTB + '</option>';
        //        }
        //        $("#MATB").html(s);
        //    }
        //});
    });

    function get_THONG_TIN_TB() {
        var mATB = $('#MATB').val();
        $('#SO_LUONG').val(1);
        $.ajax({
            type: "GET",
            url: "/Script/get_ThongTinTB",
            data: { mATB: mATB },
            success: function (data) {
                $("#MAND_QL").val(data.TEN_ND);
                document.getElementById("SO_LUONG").setAttribute("MAX", data.SO_LUONG);
            }
        });
    };

    function FILL_ND() {
        var ma_DV = $('#MADV_NHAN').val();
        $.ajax({
            type: "GET",
            url: "/Script/get_ND",
            data: { ma_DV: ma_DV },
            success: function (data) {
                var s = '<option disabled selected value>Xin chọn người nhận</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i] + '">' + data[i] + '</option>';
                }
                $("#MAND_NHAN").html(s);
            }
        });
    }

    //    $.ajax({
    //        type: "GET",
    //        url: "/Script/get_DV",
    //        data: { ma_DV: ma_DV },
    //        success: function (data) {
    //            var s = '<option disabled selected value>Xin chọn người nhận</option>';
    //            for (var i = 0; i < data.length; i++) {
    //                s += '<option value="' + data[i] + '">' + data[i] + '</option>';
    //            }
    //            $("#MAND_NHAN").html(s);
    //        }
    //    });
    //};
</script>