<main>
    <div class="container link">
        <p>Trang chủ > Quản lý người dùng > Phân quuyền</p>
        <hr />
    </div>
    <section class="container" id="phan-quyen">
        <h1 class="title">PHÂN QUYỀN</h1>
        @using (Html.BeginForm("Index", "PhanQuyen", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="chon-nhom">
                <label for="">Chọn nhóm người dùng:</label>
                <select class="form-control" name="MA_NHOM" id="MA_NHOM" onchange="Fill_Phan_Quyen()"></select>
                @if (ViewBag.ErrorMessage != null)
                {
                    <p style="color: red">@ViewBag.ErrorMessage</p>
                }
            </div>

            <div class="phan-quyen">
                <ul class="bang-pq">
                    <li class="rowc1">
                        <a href="" class="menuc1">
                            <span>MENU</span>
                            <ul>
                                <li>Xem</li>
                                <li>Thêm</li>
                                <li>Sửa</li>
                                <li>Xóa</li>
                                <li>Xác nhận</li>
                            </ul>
                        </a>
                    </li>
                    <li class="rowc1">
                        <a href="" class="menuc1">
                            <span>TRANG CHỦ</span>
                            <ul>
                                <li>
                                    <div class="squaredcheck">
                                        <input type="checkbox" value="trang_chu" id="squaredcheck" class="checkbox1" name="trang_chu" />
                                        <label for="squaredcheck"></label>
                                    </div>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </a>
                    </li>
                    <li class="rowc1">
                        <a href="" class="menuc1">
                            <span>CHỨC NĂNG</span>
                            <ul>
                                <li>
                                    <div class="squaredcheck">
                                        <input type="checkbox" value="chuc_nang" id="squaredcheck1" class="checkbox1" name="chuc_nang" onchange="Chuc_Nang_Oncheck()"/>
                                        <label for="squaredcheck1"></label>
                                    </div>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </a>
                        <ul>
                            <li class="rowc2">
                                <a href="" class="menuc2">Nhập kho </a>
                                <ul>
                                    <li></li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="1.1" id="squaredcheck111" class="checkbox1" name="check" />
                                            <label for="squaredcheck111"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="1.2" id="squaredcheck112" class="checkbox1" name="check" />
                                            <label for="squaredcheck112"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="1.3" id="squaredcheck113" class="checkbox1" name="check" />
                                            <label for="squaredcheck113"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                </ul>
                            </li>
                            <li class="rowc2">
                                <a href="" class="menuc2">Xuất kho </a>
                                <ul>
                                    <li></li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="2.1" id="squaredcheck121" class="checkbox1" name="check" />
                                            <label for="squaredcheck121"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="2.2" id="squaredcheck122" class="checkbox1" name="check" />
                                            <label for="squaredcheck122"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="2.3" id="squaredcheck123" class="checkbox1" name="check" />
                                            <label for="squaredcheck123"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                </ul>
                            </li>
                            <li class="rowc2">
                                <a href="" class="menuc2">Điều chuyển </a>
                                <ul>
                                    <li></li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="3.1" id="squaredcheck131" class="checkbox1" name="check" />
                                            <label for="squaredcheck131"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="3.2" id="squaredcheck132" class="checkbox1" name="check" />
                                            <label for="squaredcheck132"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="3.3" id="squaredcheck133" class="checkbox1" name="check" />
                                            <label for="squaredcheck133"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="3.5" id="squaredcheck135" class="checkbox1" name="check" />
                                            <label for="squaredcheck135"></label>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="rowc1">
                        <a href="" class="menuc1">
                            <span>DANH MỤC</span>
                            <ul>
                                <li>
                                    <div class="squaredcheck">
                                        <input type="checkbox" value="danh_muc" id="squaredcheck2" class="checkbox1" name="danh_muc" onchange="Danh_Muc_Oncheck()"/>
                                        <label for="squaredcheck2"></label>
                                    </div>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </a>
                        <ul>
                            <li class="rowc2">
                                <a href="" class="menuc2">Nhóm thiết bị </a>
                                <ul>
                                    <li></li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="4.1" id="squaredcheck241" class="checkbox1" name="check" />
                                            <label for="squaredcheck241"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="4.2" id="squaredcheck242" class="checkbox1" name="check" />
                                            <label for="squaredcheck242"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="4.3" id="squaredcheck243" class="checkbox1" name="check" />
                                            <label for="squaredcheck243"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                </ul>
                            </li>
                            <li class="rowc2">
                                <a href="" class="menuc2">Loại thiết bị </a>
                                <ul>
                                    <li></li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="5.1" id="squaredcheck251" class="checkbox1" name="check" />
                                            <label for="squaredcheck251"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="5.2" id="squaredcheck252" class="checkbox1" name="check" />
                                            <label for="squaredcheck252"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="5.3" id="squaredcheck253" class="checkbox1" name="check" />
                                            <label for="squaredcheck253"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                </ul>
                            </li>
                            <li class="rowc2">
                                <a href="" class="menuc2">Đơn vị </a>
                                <ul>
                                    <li></li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="6.1" id="squaredcheck261" class="checkbox1" name="check" />
                                            <label for="squaredcheck261"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="6.2" id="squaredcheck262" class="checkbox1" name="check" />
                                            <label for="squaredcheck262"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="6.3" id="squaredcheck263" class="checkbox1" name="check" />
                                            <label for="squaredcheck263"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                </ul>
                            </li>
                            <li class="rowc2">
                                <a href="" class="menuc2">Nhà cung cấp </a>
                                <ul>
                                    <li></li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="7.1" id="squaredcheck271" class="checkbox1" name="check" />
                                            <label for="squaredcheck271"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="7.2" id="squaredcheck272" class="checkbox1" name="check" />
                                            <label for="squaredcheck272"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="7.3" id="squaredcheck273" class="checkbox1" name="check" />
                                            <label for="squaredcheck273"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="rowc1">
                        <a href="" class="menuc1">
                            <span>BÁO CÁO</span>
                            <ul>
                                <li>
                                    <div class="squaredcheck">
                                        <input type="checkbox" value="bao_cao" id="squaredcheck3" class="checkbox1" name="bao_cao" onchange="Bao_Cao_Oncheck()"/>
                                        <label for="squaredcheck3"></label>
                                    </div>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </a>
                        <ul>
                            <li class="rowc2">
                                <a href="" class="menuc2">Danh sách thiết bị </a>
                                <ul>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="8.4" id="squaredcheck384" class="checkbox1" name="check" />
                                            <label for="squaredcheck384"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </li>
                            <li class="rowc2">
                                <a href="" class="menuc2">Thống kê thiết bị</a>
                                <ul>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="9.4" id="squaredcheck394" class="checkbox1" name="check" />
                                            <label for="squaredcheck394"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </li>
                            <li class="rowc2">
                                <a href="" class="menuc2">Nhật ký thiết bị </a>
                                <ul>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="10.4" id="squaredcheck3104" class="checkbox1" name="check" />
                                            <label for="squaredcheck3104"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </li>
                            <li class="rowc2">
                                <a href="" class="menuc2">Xác nhận điều chuyển </a>
                                <ul>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="11.4" id="squaredcheck3114" class="checkbox1" name="check" />
                                            <label for="squaredcheck3114"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </li>
                            <li class="rowc2">
                                <a href="" class="menuc2">Tồn kho </a>
                                <ul>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="12.4" id="squaredcheck3124" class="checkbox1" name="check" />
                                            <label for="squaredcheck3124"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </li>
                            <li class="rowc2">
                                <a href="" class="menuc2">Hết hạn bảo hành </a>
                                <ul>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="13.4" id="squaredcheck3134" class="checkbox1" name="check" />
                                            <label for="squaredcheck3134"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="rowc1">
                        <a href="" class="menuc1">
                            <span>QUẢN LÝ NGƯỜI DÙNG</span>
                            <ul>
                                <li>
                                    <div class="squaredcheck">
                                        <input type="checkbox" value="ql_nd" id="squaredcheck4" class="checkbox1" name="ql_nd" onchange="QL_ND_Oncheck()"/>
                                        <label for="squaredcheck4"></label>
                                    </div>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </a>
                        <ul>
                            <li class="rowc2">
                                <a href="" class="menuc2">Người dùng </a>
                                <ul>
                                    <li></li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="14.1" id="squaredcheck4141" class="checkbox1" name="check" />
                                            <label for="squaredcheck4141"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="14.2" id="squaredcheck4142" class="checkbox1" name="check" />
                                            <label for="squaredcheck4142"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="14.3" id="squaredcheck4143" class="checkbox1" name="check" />
                                            <label for="squaredcheck4143"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                </ul>
                            </li>
                            <li class="rowc2">
                                <a href="" class="menuc2">Nhóm người dùng </a>
                                <ul>
                                    <li></li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="15.1" id="squaredcheck4151" class="checkbox1" name="check" />
                                            <label for="squaredcheck4151"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="15.2" id="squaredcheck4152" class="checkbox1" name="check" />
                                            <label for="squaredcheck4152"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="15.3" id="squaredcheck4153" class="checkbox1" name="check" />
                                            <label for="squaredcheck4153"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                </ul>
                            </li>
                            <li class="rowc2">
                                <a href="" class="menuc2">Phân quyền </a>
                                <ul>
                                    <li></li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="16.1" id="squaredcheck4161" class="checkbox1" name="check" />
                                            <label for="squaredcheck4161"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="16.2" id="squaredcheck4162" class="checkbox1" name="check" />
                                            <label for="squaredcheck4162"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredcheck">
                                            <input type="checkbox" value="16.3" id="squaredcheck4163" class="checkbox1" name="check" />
                                            <label for="squaredcheck4163"></label>
                                        </div>
                                    </li>
                                    <li></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="submit">
                    <button type="submit" class="luu" name="SAVE" value="save">LƯU</button>
                    <button type="submit" class="reset" name="REFESH" value="refesh">Làm mới</button>
                </div>
            </div>
        }
    </section>
</main>

<script type="text/javascript">
     $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Script/get_NHOM_ND",
            data: "{}",
            success: function (data) {
                var s = '<option disabled selected value>Xin chọn đơn vị</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i] + '">' + data[i] + '</option>';
                }
                $("#MA_NHOM").html(s);
            }
        });
    });

    function Fill_Phan_Quyen() {
        var ma_NHOM = $('#MA_NHOM').val();

        document.getElementById("squaredcheck1").checked = false;
        document.getElementById("squaredcheck111").checked = false;
        document.getElementById("squaredcheck112").checked = false;
        document.getElementById("squaredcheck113").checked = false;
        document.getElementById("squaredcheck121").checked = false;
        document.getElementById("squaredcheck122").checked = false;
        document.getElementById("squaredcheck123").checked = false;
        document.getElementById("squaredcheck131").checked = false;
        document.getElementById("squaredcheck132").checked = false;
        document.getElementById("squaredcheck133").checked = false;
        document.getElementById("squaredcheck135").checked = false;
        document.getElementById("squaredcheck2").checked = false;
        document.getElementById("squaredcheck241").checked = false;
        document.getElementById("squaredcheck242").checked = false;
        document.getElementById("squaredcheck243").checked = false;
        document.getElementById("squaredcheck251").checked = false;
        document.getElementById("squaredcheck252").checked = false;
        document.getElementById("squaredcheck253").checked = false;
        document.getElementById("squaredcheck261").checked = false;
        document.getElementById("squaredcheck262").checked = false;
        document.getElementById("squaredcheck263").checked = false;
        document.getElementById("squaredcheck271").checked = false;
        document.getElementById("squaredcheck272").checked = false;
        document.getElementById("squaredcheck273").checked = false;
        document.getElementById("squaredcheck3").checked = false;
        document.getElementById("squaredcheck384").checked = false;
        document.getElementById("squaredcheck394").checked = false;
        document.getElementById("squaredcheck3104").checked = false;
        document.getElementById("squaredcheck3114").checked = false;
        document.getElementById("squaredcheck3124").checked = false;
        document.getElementById("squaredcheck3134").checked = false;
        document.getElementById("squaredcheck4").checked = false;
        document.getElementById("squaredcheck4141").checked = false;
        document.getElementById("squaredcheck4142").checked = false;
        document.getElementById("squaredcheck4143").checked = false;
        document.getElementById("squaredcheck4151").checked = false;
        document.getElementById("squaredcheck4152").checked = false;
        document.getElementById("squaredcheck4153").checked = false;
        document.getElementById("squaredcheck4161").checked = false;
        document.getElementById("squaredcheck4162").checked = false;
        document.getElementById("squaredcheck4163").checked = false;

        $.ajax({
            type: "GET",
            url: "/Script/get_ThongTinPhanQuyen",
            data: { ma_NHOM: ma_NHOM },
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    //Chức năng checked
                    if (data[i].MA_DM == 1) {
                        document.getElementById("squaredcheck1").checked = true;

                        //Nhập kho checked
                        if (data[i].MA_CHUC_NANG == 1) {
                            if (data[i].MA_QUYEN == 1)
                            {
                                document.getElementById("squaredcheck111").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 2)
                            {
                                document.getElementById("squaredcheck112").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 3)
                            {
                                document.getElementById("squaredcheck113").checked = true;
                            }
                        }

                        //Xuất kho checked
                        else if (data[i].MA_CHUC_NANG == 2) {
                            if (data[i].MA_QUYEN == 1)
                            {
                                document.getElementById("squaredcheck121").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 2)
                            {
                                document.getElementById("squaredcheck122").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 3)
                            {
                                document.getElementById("squaredcheck123").checked = true;
                            }
                        }

                        //Điều chuyển checked
                         else if (data[i].MA_CHUC_NANG == 3) {
                            if (data[i].MA_QUYEN == 1)
                            {
                                document.getElementById("squaredcheck131").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 2)
                            {
                                document.getElementById("squaredcheck132").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 3)
                            {
                                document.getElementById("squaredcheck133").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 5)
                            {
                                document.getElementById("squaredcheck135").checked = true;
                            }
                        }
                    }
                    //Danh mục checked
                    else if (data[i].MA_DM == 2) {
                        document.getElementById("squaredcheck2").checked = true;

                        //Nhóm thiết bị checked
                        if (data[i].MA_CHUC_NANG == 4) {
                            if (data[i].MA_QUYEN == 1)
                            {
                                document.getElementById("squaredcheck241").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 2)
                            {
                                document.getElementById("squaredcheck242").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 3)
                            {
                                document.getElementById("squaredcheck243").checked = true;
                            }
                        }

                        //Xuất kho checked
                        else if (data[i].MA_CHUC_NANG == 5) {
                            if (data[i].MA_QUYEN == 1)
                            {
                                document.getElementById("squaredcheck251").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 2)
                            {
                                document.getElementById("squaredcheck252").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 3)
                            {
                                document.getElementById("squaredcheck253").checked = true;
                            }
                        }

                        //Điều chuyển checked
                         else if (data[i].MA_CHUC_NANG == 6) {
                            if (data[i].MA_QUYEN == 1)
                            {
                                document.getElementById("squaredcheck261").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 2)
                            {
                                document.getElementById("squaredcheck262").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 3)
                            {
                                document.getElementById("squaredcheck263").checked = true;
                            }
                        }

                        //Nhà cung cấp checked
                        else if (data[i].MA_CHUC_NANG == 7) {
                            if (data[i].MA_QUYEN == 1)
                            {
                                document.getElementById("squaredcheck271").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 2)
                            {
                                document.getElementById("squaredcheck272").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 3)
                            {
                                document.getElementById("squaredcheck273").checked = true;
                            }
                        }
                    }
                    //Báo cáo checked
                    else if (data[i].MA_DM == 3) {
                        document.getElementById("squaredcheck3").checked = true;

                        if (data[i].MA_CHUC_NANG == 8) {
                            document.getElementById("squaredcheck384").checked = true;
                        }
                        else if (data[i].MA_CHUC_NANG == 9) {
                            document.getElementById("squaredcheck394").checked = true;
                        }
                        else if (data[i].MA_CHUC_NANG == 10) {
                            document.getElementById("squaredcheck3104").checked = true;
                        }
                        else if (data[i].MA_CHUC_NANG == 11) {
                            document.getElementById("squaredcheck3114").checked = true;
                        }
                        else if (data[i].MA_CHUC_NANG == 12) {
                            document.getElementById("squaredcheck3124").checked = true;
                        }
                        else if (data[i].MA_CHUC_NANG == 13) {
                            document.getElementById("squaredcheck3134").checked = true;
                        }
                    }
                    //Quản lý người dùng checked
                    if (data[i].MA_DM == 4) {
                        document.getElementById("squaredcheck4").checked = true;

                        //Nhập kho checked
                        if (data[i].MA_CHUC_NANG == 14) {
                            if (data[i].MA_QUYEN == 1)
                            {
                                document.getElementById("squaredcheck4141").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 2)
                            {
                                document.getElementById("squaredcheck4142").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 3)
                            {
                                document.getElementById("squaredcheck4143").checked = true;
                            }
                        }

                        //Xuất kho checked
                        else if (data[i].MA_CHUC_NANG == 15) {
                            if (data[i].MA_QUYEN == 1)
                            {
                                document.getElementById("squaredcheck4151").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 2)
                            {
                                document.getElementById("squaredcheck4152").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 3)
                            {
                                document.getElementById("squaredcheck4153").checked = true;
                            }
                        }

                        //Điều chuyển checked
                         else if (data[i].MA_CHUC_NANG == 16) {
                            if (data[i].MA_QUYEN == 1)
                            {
                                document.getElementById("squaredcheck4161").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 2)
                            {
                                document.getElementById("squaredcheck4162").checked = true;
                            }
                            else if (data[i].MA_QUYEN == 3)
                            {
                                document.getElementById("squaredcheck4163").checked = true;
                            }
                        }
                    }
                }
            }
        });
    };

    function Chuc_Nang_Oncheck() {
        if (document.getElementById("squaredcheck1").checked == true) {
            document.getElementById("squaredcheck111").checked = true;
            document.getElementById("squaredcheck112").checked = true;
            document.getElementById("squaredcheck113").checked = true;
            document.getElementById("squaredcheck121").checked = true;
            document.getElementById("squaredcheck122").checked = true;
            document.getElementById("squaredcheck123").checked = true;
            document.getElementById("squaredcheck131").checked = true;
            document.getElementById("squaredcheck132").checked = true;
            document.getElementById("squaredcheck133").checked = true;
            document.getElementById("squaredcheck135").checked = true;
        }
        else if (document.getElementById("squaredcheck1").checked == false) {
            document.getElementById("squaredcheck111").checked = false;
            document.getElementById("squaredcheck112").checked = false;
            document.getElementById("squaredcheck113").checked = false;
            document.getElementById("squaredcheck121").checked = false;
            document.getElementById("squaredcheck122").checked = false;
            document.getElementById("squaredcheck123").checked = false;
            document.getElementById("squaredcheck131").checked = false;
            document.getElementById("squaredcheck132").checked = false;
            document.getElementById("squaredcheck133").checked = false;
            document.getElementById("squaredcheck135").checked = false;
        }
    };

    function Danh_Muc_Oncheck() {
        if (document.getElementById("squaredcheck2").checked == true) {
            document.getElementById("squaredcheck241").checked = true;
            document.getElementById("squaredcheck242").checked = true;
            document.getElementById("squaredcheck243").checked = true;
            document.getElementById("squaredcheck251").checked = true;
            document.getElementById("squaredcheck252").checked = true;
            document.getElementById("squaredcheck253").checked = true;
            document.getElementById("squaredcheck261").checked = true;
            document.getElementById("squaredcheck262").checked = true;
            document.getElementById("squaredcheck263").checked = true;
            document.getElementById("squaredcheck271").checked = true;
            document.getElementById("squaredcheck272").checked = true;
            document.getElementById("squaredcheck273").checked = true;
        }
        else if (document.getElementById("squaredcheck2").checked == false) {
            document.getElementById("squaredcheck241").checked = false;
            document.getElementById("squaredcheck242").checked = false;
            document.getElementById("squaredcheck243").checked = false;
            document.getElementById("squaredcheck251").checked = false;
            document.getElementById("squaredcheck252").checked = false;
            document.getElementById("squaredcheck253").checked = false;
            document.getElementById("squaredcheck261").checked = false;
            document.getElementById("squaredcheck262").checked = false;
            document.getElementById("squaredcheck263").checked = false;
            document.getElementById("squaredcheck271").checked = false;
            document.getElementById("squaredcheck272").checked = false;
            document.getElementById("squaredcheck273").checked = false;
        }
    };

    function Bao_Cao_Oncheck() {
        if (document.getElementById("squaredcheck3").checked == true) {
            document.getElementById("squaredcheck384").checked = true;
            document.getElementById("squaredcheck394").checked = true;
            document.getElementById("squaredcheck3104").checked = true;
            document.getElementById("squaredcheck3114").checked = true;
            document.getElementById("squaredcheck3124").checked = true;
            document.getElementById("squaredcheck3134").checked = true;
        }
        else if (document.getElementById("squaredcheck3").checked == false) {
            document.getElementById("squaredcheck384").checked = false;
            document.getElementById("squaredcheck394").checked = false;
            document.getElementById("squaredcheck3104").checked = false;
            document.getElementById("squaredcheck3114").checked = false;
            document.getElementById("squaredcheck3124").checked = false;
            document.getElementById("squaredcheck3134").checked = false;
        }
    };

    function QL_ND_Oncheck() {
        if (document.getElementById("squaredcheck4").checked == true) {
            document.getElementById("squaredcheck4141").checked = true;
            document.getElementById("squaredcheck4142").checked = true;
            document.getElementById("squaredcheck4143").checked = true;
            document.getElementById("squaredcheck4151").checked = true;
            document.getElementById("squaredcheck4152").checked = true;
            document.getElementById("squaredcheck4153").checked = true;
            document.getElementById("squaredcheck4161").checked = true;
            document.getElementById("squaredcheck4162").checked = true;
            document.getElementById("squaredcheck4163").checked = true;
        }
        else if (document.getElementById("squaredcheck4").checked == false) {
            document.getElementById("squaredcheck4141").checked = false;
            document.getElementById("squaredcheck4142").checked = false;
            document.getElementById("squaredcheck4143").checked = false;
            document.getElementById("squaredcheck4151").checked = false;
            document.getElementById("squaredcheck4152").checked = false;
            document.getElementById("squaredcheck4153").checked = false;
            document.getElementById("squaredcheck4161").checked = false;
            document.getElementById("squaredcheck4162").checked = false;
            document.getElementById("squaredcheck4163").checked = false;
        }
    };
</script>
